<!-- iCheck -->
    <link href="/public/admin/js/iCheck/skins/flat/green.css" rel="stylesheet">
      <!-- JQVMap -->
    <link href="/public/admin/js/jqvmap/dist/jqvmap.min.css" rel="stylesheet"/>



<!-- FastClick -->
    <script src="/public/admin/js/fastclick/lib/fastclick.js"></script>
     <!-- Chart.js -->
    <script src="/public/admin/js/Chart.js/dist/Chart.min.js"></script>
    <!-- gauge.js -->
    <script src="/public/admin/js/gauge.js/dist/gauge.min.js"></script>
    <!-- iCheck -->
    <script src="/public/admin/js/iCheck/icheck.min.js"></script>
    <!-- Skycons -->
    <script src="/public/admin/js/skycons/skycons.js"></script>
    <!-- Flot -->
    <script src="/public/admin/js/Flot/jquery.flot.js"></script>
    <script src="/public/admin/js/Flot/jquery.flot.pie.js"></script>
    <script src="/public/admin/js/Flot/jquery.flot.time.js"></script>
    <script src="/public/admin/js/Flot/jquery.flot.stack.js"></script>
    <script src="/public/admin/js/Flot/jquery.flot.resize.js"></script>
    <!-- Flot plugins -->
    <script src="/public/admin/js/flot.orderbars/js/jquery.flot.orderBars.js"></script>
    <script src="/public/admin/js/flot-spline/js/jquery.flot.spline.min.js"></script>
    <script src="/public/admin/js/flot.curvedlines/curvedLines.js"></script>
    <!-- DateJS -->
    <script src="/public/admin/js/DateJS/build/date.js"></script>
    <!-- JQVMap -->
    <script src="/public/admin/js/jqvmap/dist/jquery.vmap.js"></script>
    <script src="/public/admin/js/jqvmap/dist/maps/jquery.vmap.world.js"></script>
    <script src="/public/admin/js/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="/public/admin/js/moment/min/moment.min.js"></script>
    <script src="/public/admin/js/bootstrap-daterangepicker/daterangepicker.js"></script>